.footer {
    background-color: var(--lumo-base-color);
    color: var(--lumo-header-text-color);
    box-shadow: 0 -1px 4px var(--lumo-shadow-color);
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer-description {
    text-align: center;
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--lumo-header-text-color);
}

.footer-text {
    color: var(--lumo-header-text-color);
}

.footer-highlight {
    font-weight: bold;
    color: var(--lumo-menu-text-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 80px;
}



.footer-copyright-disclaimer {
    font-size: 0.875rem;
    color: var(--lumo-header-text-color);
    margin-top: 1rem;
}

.social-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-buttons-container {
        justify-content: center;
        margin-top: 1rem;
    }

    .footer-description {
        margin-top: 1rem;
    }
}

.buttons {
    position: relative;
    width: 200px;
    height: 200px;
    filter: url("#goo");
}

/* Animation of the appearance of buttons */
.buttons.step-0 .social-btn {
    transform: translate(-50px, -50px);
}

.buttons.step-1 .social-btn-1 {
    transform: translate(-50px, -50px);
}

.buttons.step-1 .social-btn-2,
.buttons.step-1 .social-btn-3,
.buttons.step-1 .social-btn-4 {
    transform: translate(-50px, 50px);
}

.buttons.step-2 .social-btn-1 {
    transform: translate(-50px, -50px);
}

.buttons.step-2 .social-btn-2 {
    transform: translate(-50px, 50px);
}

.buttons.step-2 .social-btn-3,
.buttons.step-2 .social-btn-4 {
    transform: translate(50px, 50px);
}

.buttons.step-3 .social-btn-1 {
    transform: translate(-50px, -50px);
}

.buttons.step-3 .social-btn-2 {
    transform: translate(-50px, 50px);
}

.buttons.step-3 .social-btn-3 {
    transform: translate(50px, 50px);
}

.buttons.step-3 .social-btn-4 {
    transform: translate(50px, -50px);
}

.social-btn {
    position: absolute;
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: inset 0 0 8px 3px var(--underlining-color), 0 0 7px 2px var(--underlining-color);
}

.social-icon {
    width: 36px;
    height: 36px;
}

.open-btn {
    position: absolute;
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s ease;
    /*box-shadow: 0 0 12px 6px rgba(0, 170, 255, 0.4);*/
}
