/* theme-toggle-styles.css */
.toggle-styles{
    margin-left: auto;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

/* Rotation animation change theme button */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-rotate {
    animation: rotate 0.5s ease-in-out;
}