/* --About me styles-- */
.home-view {
    padding: 10px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about-photo {
    width: 250px;
    height: 250px;
    flex: 1 1 250px;
    display: flex;
    justify-content: right;
    border-radius: 50%;
}

.about-text {
    flex: 2 1 300px;
    text-align: left;
    margin-right: 5%;
}


/* Adaptability for small screens */
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column; /* We set the elements vertically */
        text-align: center;
    }

    .about-photo {
        width: 250px;
        height: 250px;
        flex: 1 1 250px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }

    .about-text {
        text-align: center;
        margin-right: 1.5%;
    }
}

.scroll-button {
    color: var(--lumo-header-text-color);
    cursor: pointer;
    /*width: 100%;*/
    height: 0px;
    padding-left: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


@media (max-width: 600px) {
    .scroll-button {
        padding-left: 0 !important;
        justify-content: center !important;
    }
}
