.general-tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.general-tech-stack-text {
    flex: 1 1 120px;
    text-align: left;
    margin-right: 5%;
}

@media screen and (max-width: 768px) {
    .general-tech-stack-container {
        flex-direction: column;    
        text-align: center;
    }

    .general-tech-stack-text {
        text-align: center;
        margin-right: 1.5%;
    }
}
