.badge {
    background-color: var(--underlining-color);
    color: rgb(255, 255, 255);
}

[theme~="dark"] .badge {
    background-color: var(--underlining-color);
    color: #070606FF;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: left;
}