:root {
    --jet: hsl(0, 0%, 22%);
}

.timeline-item {
    position: relative;
    padding-left: 60px;
}

.timeline-item:not(:last-child)::before {
    margin-top: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 24px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--jet);
}

.timeline-item::after {
    margin-top: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 21px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--underlining-color);
    box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5%;
}

.custom-carousel-style {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.slide-image {
    max-height: 350px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 10px;
}

.slide-text {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: gray;
    word-wrap: break-word;
    width: 90%;
    margin: 0 auto;
}

.custom-carousel-style {
    --paper-slide-dot-styles: {
        margin: 3px;
        width: 7px;
        height: 7px;
    };

    --paper-slider-dot-container-styles: {
        bottom: 0px;
    };

    --paper-slide-dot: rgba(108, 107, 107, 0.3);
    --paper-slide-dot-selected: var(--underlining-color);
}

@media screen and (max-width: 768px) {
    .custom-carousel-style {
        width: 100%;
    }

    .slide-image {
        max-height: 250px;
    }

    .slide-text {
        font-size: 14px;
        width: 100%;
    }
}