.projects-view {
    padding: 10px;
}

.project-card {
    background: var(--lumo-base-color);
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-title {
    color: var(--underlining-color);
}

.project-technologies {
    color: var(--lumo-secondary-text-color);
}

@media (max-width: 768px) {
    .project-card {
        width: 100%;
    }
}