/* ================================================
   Global Styles
   ================================================ */
* {
    box-sizing: border-box;
}

/* ================================================
   Header Styles
   ================================================ */
.header {
    background-color: var(--lumo-base-color);
    padding: 2rem 1rem;
    width: 100%;
    box-shadow: 0 1px 4px var(--lumo-shadow-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-logo {
    color: var(--lumo-header-text-color);
}

/* ================================================
   Navigation Container
   ================================================ */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* -----------------------------------------------
   Nav Toggle
   ----------------------------------------------- */
.nav-toggle {
    background: var(--underlining-color);
    color: #F9FAFBFF;
    text-align: center;
    border-radius: 10%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    width: 32px;
    height: 32px;
}

/* -----------------------------------------------
   Nav Buttons
   ----------------------------------------------- */
.nav-button {
    background-color: transparent;
    border: none;
    color: var(--lumo-header-text-color);
    font-size: 1rem;
    font-weight: var(--font-semi);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-button:hover {
    color: var(--underlining-color);
}

.nav-button:focus {
    outline: none;
}

/* ================================================
   Media Queries for Small Screens (max-width: 768px)
   ================================================ */
@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 60%;
        height: 90%;
        padding: 1rem;
        background: var(--nav-menu-background-color);
        backdrop-filter: blur(10px);
        color: var(--lumo-menu-text-color);
        transition: transform 0.5s ease, background 0.3s ease, color 0.3s ease;
        z-index: 100;
        border-radius: 10px 0 0 10px;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
        transform: translateX(100%);
    }

    .show {
        right: 0;
        transform: translateX(0);
    }

    .nav-button {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideOut {
        from {
            transform: translateX(0);
            opacity: 1;
        }
        to {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

/* ================================================
   Media Queries for Larger Screens (min-width: 769px)
   ================================================ */
@media screen and (min-width: 769px) {
    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-list {
        display: flex;
        padding-top: 0;
    }

    .nav-item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        color: var(--lumo-header-text-color);
    }
}