.theme-button-container {
    width: 100%;
    flex-wrap: nowrap;
}

.sun-moon {
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    color: var(--underlining-color);
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: none;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate {
    animation: wave 0.5s ease-in-out;
}