:root {
    --sun-moon-collor: var(--underlining-color);
}

.sun-moon {
    width: 48px;
    height: 48px;
    border: 0; /* Clear the border */
    border-radius: 50%; /* round shape */
    display: flex; /* Flexbox for centering icons */
    align-items: center; /* Vertical centering */
    justify-content: center; /* H centering */
    cursor: pointer; /* Cursor */
    background-color: transparent; /* transparent background */
    color: var(--sun-moon-collor); /* Icon color */
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s; /* Smooth transition of styles */
    box-shadow: none; /* Clear the shadow */
    flex-shrink: 0; /* Prevent the button from being compressed*/
}

/* animation change theme button */
@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate {
    animation: wave 0.5s ease-in-out;
}