@import url('header/about-container-styles.css');
/* --Header-- */
@import url('header/header-styles.css');
@import url('header/switch-theme-toggle-styles.css');

/* --Footer-- */
@import url('footer/footer-styles.css');

/* -- -- */
@import url('tech-stack-style.css');
@import url('big-tech-stack-card-style.css');

/* Major variables */
:root {
    --header-height: 3rem;
    --font-semi: 600;
    --underlining-color: #ffb400; /* underlining */
    --lumo-header-text-color: #4a4a4a; /* Dark grey for text */
    --lumo-base-color: #ffffff; /* Background for light theme */
    --lumo-shadow-color: rgba(146, 161, 176, 0.15); /* Shade */
    --lumo-menu-background-color: #e0e0e0; /* Slightly darker background of side menu (light theme) */
    --lumo-menu-text-color: #333333; /* Dark grey text for side menu (light theme) */
}

[theme~="dark"] {
    --lumo-base-color: #191919;
    --lumo-header-text-color: #a7a7a7;
    --lumo-shadow-color: rgba(0, 0, 0, 0.5);
    --lumo-menu-background-color: #292929;
    --lumo-menu-text-color: #ffffff;
}
