@import url('switch-theme-toggle-styles.css');
@import url('about-container-styles.css');
@import url('tech-stack-style.css');
@import url('big-tech-stack-card-style.css');

/* Major variables */
:root {
    --header-height: 3rem;
    --font-semi: 600;
    --underlining-color: #ffb400; /* underlining */
    --lumo-header-text-color: #4a4a4a; /* Dark grey for text */
    --lumo-base-color: #ffffff; /* Background for light theme */
    --lumo-shadow-color: rgba(146, 161, 176, 0.15); /* Shade */
    --lumo-menu-background-color: #e0e0e0; /* Slightly darker background of side menu (light theme) */
    --lumo-menu-text-color: #333333; /* Dark grey text for side menu (light theme) */
}


[theme~="dark"] {
    --lumo-base-color: #191919;
    --lumo-header-text-color: #a7a7a7;
    --lumo-shadow-color: rgba(0, 0, 0, 0.5);
    --lumo-menu-background-color: #292929;
    --lumo-menu-text-color: #ffffff;
}

/* Styles for the title */
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--lumo-base-color);
    box-shadow: 0 1px 4px var(--lumo-shadow-color);
}

/* Styles for navigation */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

.nav-item {
    margin-bottom: 2rem;
}

.nav-link {
    position: relative;
    color: var(--lumo-header-text-color);
    transition: color 0.3s ease;
}

.nav-link:hover::after,
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--underlining-color);
}

.nav-logo {
    color: var(--lumo-header-text-color);
}

.nav-toggle {
    color: var(--lumo-header-text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 40%;
        height: 100%;
        padding: 2rem;
        background-color: var(--lumo-menu-background-color); /* The color of the background depends on the theme. */
        color: var(--lumo-menu-text-color); /* The color of the text depends on the theme. */
        transition: right 0.5s ease, background-color 0.3s ease, color 0.3s ease;
    }

    .nav-link {
        color: var(--lumo-menu-text-color); /* We use a variable text for the side menu */
    }

    .show {
        right: 0;
    }
}

@media screen and (min-width: 769px) {
    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-list {
        display: flex;
        padding-top: 0;
    }

    .nav-item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        color: var(--lumo-header-text-color);
    }
}


/*Footer*/

.footer {
    background-color: var(--lumo-base-color);
    color: var(--lumo-header-text-color);
    padding: 2rem 1rem;
    box-shadow: 0 -1px 4px var(--lumo-shadow-color);
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer-links {
    display: flex;
    justify-content: center; /* We center the links horizontally */
    flex-wrap: wrap; /* Term transfer for small screens */
    gap: 1.5rem; /* Standing between the links */
    margin-bottom: 1rem; /* Step down */
}

.footer-link {
    color: var(--lumo-header-text-color); /* Link color */
    font-weight: var(--font-semi); /* Alkaline text */
    text-decoration: none; /* Removing the underhand */
    transition: color 0.3s ease; /* Smooth change of color */
}

.footer-link:hover {
    color: var(--underlining-color); /*Color when pointing*/
}

.footer-social {
    display: flex;
    justify-content: center; /* Center social media icons */
    gap: 1rem; /* Icon spacing */
    margin-bottom: 1rem; /* Indent */
}

.footer-social-icon {
    color: var(--lumo-header-text-color); /* Icon color depends on theme */
    font-size: 1.5rem; /* Icon size */
    transition: color 0.3s ease; /* Soft change of color */
}

/* Container styles with icons */
.social-links {
    display: flex;
    gap: 10px; /* Space between icons */
    align-items: center;
    justify-content: center;
}

/* Styles for clickable icons */
.clickable-icon {
    cursor: pointer; /* Change cursor to pointer */
    width: 24px; /* Icon width */
    height: 24px; /* Icon height */
    transition: transform 0.2s ease; /* animation */
}

.clickable-icon:hover {
    color: var(--underlining-color); /* Color when pointing */
    transform: scale(1.1)
}

.footer-copy {
    font-size: 0.875rem; /* Copytext size */
    color: var(--lumo-header-text-color); /* Copyrights color */
    margin-top: 1rem; /* Top indent */
}

/* Media Queries for the footer */
@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column; /* Vertical placement of links on small screens */
        gap: 1rem; /* Reduce the distance between links */
    }

    .footer-social {
        gap: 0.5rem; /* Reduce the distance between social media icons */
    }
}


