/* Common styles for Education Card */
.edu-ach-card {
    border-radius: 2.25rem; /* rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Slight soft shadow */
    padding: 20px; /* internal padding */
    margin: 20px; /* external padding */
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: background 0.5s ease, color 0.5s ease; /* smooth transition */
}

/* Styles for light theme */
html:not([theme~="dark"]) .edu-ach-card {
    background: radial-gradient(ellipse at top left, #ffffff 0%, #ffffff 100%); /* Gradient for light theme */
}

/* Dark theme styles */
html[theme~="dark"] .edu-ach-card {
    background: radial-gradient(ellipse at top left, #2c2c2c 0%, #191919 100%); /* Dark theme gradient */
}

/* Additional text styles */
.edu-ach-card .timeline-item-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.edu-ach-card .timeline-item-time {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: inherit; /* Inheriting color from theme */
    transition: color 0.5s ease;
}

.edu-ach-card .timeline-text {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    color: inherit; /* Inheriting color from theme */
    transition: color 0.5s ease;
}

/* Remove unnecessary effects for "borders" */
.edu-ach-card::before {
    content: none;
}